<?xml version="1.0" encoding="UTF-8"?>
<configuration packages="org.apache.logging.log4j.core" status="info">
  <orgConfigs>
    <property name="name">gbaas</property>
    <property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %C:%-5.5L | %msg%n
    </property>
    <!--
    It will look like that:
    2013-04-03 07:37:51.993 | WARN  | main       | Server Info  | My app is logging stuff
    -->
  </orgConfigs>
  <appenders>

    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${pattern}"/>
    </Console>
  </appenders>

  <loggers>
    <root level="info"> <!-- We log everything -->
      <AppenderRef level="INFO" ref="Console"/>
    </root>

    <logger name="org.springframework.boot.SpringApplication" level="INFO"></logger>
  </loggers>

</configuration>